@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap');

//LIGHT

$ralewey-light-medium: 200 18px 'raleway', san-serif;
$ralewey-light-large:  200  50px 'raleway', san-serif;
$ralewey-light-xlarge: 200  70px 'ralewey', san-serif;
$ralewey-light-xxlarge: 200  100px 'ralewey', san-serif;

//REGULAR

$ralewey-regular-medium: 400 18px 'ralewey', san-serif;
$ralewey-regular-large:  400 50px 'ralewey', san-serif;
$ralewey-regular-xlarge: 400 70px 'ralewey', san-serif;
$ralewey-regular-xxlarge: 400 100px 'ralewey', san-serif;


//BOLD

$ralewey-bold-medium: 700 18px 'raleway', san-serif;
$ralewey-bold-large:  700  50px 'raleway', san-serif;
$ralewey-bold-xlarge: 700  70px 'ralewey', san-serif;
$ralewey-bold-xxlarge: 700 100px 'ralewey', san-serif;